.items {
    grid-area: items;
    justify-self: stretch;
    background-color: black;
    grid-column-start: left;
    grid-column-end: right;
    grid-row-start: top;
    grid-row-end: bottom;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: [left] 33vw [mapleft] 33vw [mapright] 33vw [right];
    grid-template-rows: [top] 33vh [test1] 33vh [test2] 33vh [bottom]; /*This is very temporary and should be fixed when it's relevant*/
    gap: 5px 5px;
    align-items: stretch;
}