@page "/"


<div class="container">
    <div class=topbar />
    <div class=leftbar>
        <div class="items">
            <Items />
        </div>
        <div class=dungeonitems>
            <Dungeons />
		</div>
    </div>
    <div class=itemchecks />
    <div class=map />
    <div class=bottombar />
</div>