@page "/stinkCount"

<h1>TEL AF NAAR DIKKESTINKBEER!!!</h1>
<img src="Images/@Item.Src" @onmouseup="Item.ClickAction" oncontextmenu="return false;" width="300px" />

@code {
    public Image Item = new() { FileName = 10 };

    public class Image
    {
        public int FileName { get; set; }
        public string Src => $"{FileName}.jpg";

        public void ClickAction(MouseEventArgs args) {
            if (args.Button == 0) {
                if (FileName == 0) {
                    Console.WriteLine("Hoi dit is te laag");
                    return;
                } else {
                    FileName--;
                    return;
                }
            }
            
            if (args.Button == 2) {
                if (FileName == 10) {
                    Console.WriteLine("Hoi dit is te hoog");
                    return;
                } else {
                    FileName++;
                    return;
                }
            }
        }
    }
}